body{

    text-align: center; /* display: inline | inline-block */

}

.box{
    /*display: block;*/
    margin: auto;
    box-sizing: border-box;
    border: 10px solid red;
    width: 400px;
    background: orange;
    height: 300px;
}

